.cirlce {
width: 100px;
height: 100px;
position: absolute;
top: 0;
background-color: orange;
border-radius: 50%;
  animation: drive 1.5s infinite;
left: 10px;

}
@keyframes  drive {
    from {
    top: 0%;
    }
    to {
    
    top: 500px;
    
    }
    }